@model Nop.Plugin.Misc.CustomPlugin.Models.ConfigModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="CustomPlugin" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">                
                <div class="card card-default">
                    <div class="card-header">
                        Details
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Id" />
                                <span asp-validation-for="Id"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="FullName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FullName" />
                                <span asp-validation-for="FullName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Email" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>